@import url("../../../index.css");


.banner-survey-wrapper {
    background-color:  var(--fern-green);
    min-height: 160px;
    height: auto;
    text-align: center;
    padding: 1rem 0;
    color: white;
  }

.banner-survey-text {
    background-color: var(--fern-green);
}
