@import url("../../../index.css");


.banner-survey-wrapper {
    background-color:  var(--fern-green);
    min-height: 160px;
    height: auto;
    text-align: center;
    padding: 1rem 0;
    color: white;
  }

.banner-survey-text {
 font-weight: 700;
 text-shadow: 1px 1px 15px black;
}

.banner-survey-text-2 {
  font-weight: 600;
  font-size: 20px;
 }


