@import url("../../../index.css");

.game-card-style {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--fern-green);
  width: 100%;
  max-width: 407px;
  padding-bottom: 3%;
  overflow: hidden;
}

.game-card-style .img-container {
  margin: 0;
  width: 100%;
  height: 200px;
  /* Set the height of the image container to avoid re-sizing. If needed, adjust on smaller resolutions */
  overflow: hidden;
  /* Hide overflowing content */
}

.game-card-style .img-container img {
  width: 100%;
  height: 200px;
  transition: all ease-in-out 0.3s;
}

.game-card-style .img-container img:hover {
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
}

.game-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 260px;
  padding: 0 0.75rem;
  color: white;
}

.game-card-content p {
  margin: 0;
}

.card-title {
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
}

.card-title h2 {
  font-weight: 900;
  font-size: 26px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 15px black;
}

.game-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;

}

.game-card-description p {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}


.info-wrapper{
  display: flex;
  flex-direction: column;
 margin-top: auto;
}
.genre-platform-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.game-card-genre {
  display: flex;

  height: auto;
  justify-content: center;
  align-items: center;

}

.game-card-genre p {
  font-weight: 400;
  font-size: 14px;
}
